
# Ignore Python byte-compiled files
__pycache__/

# Ignore environment-specific files
venv/
*.pyc
.env
error_logs/
pretrain_IR/

train.sh
train_optuna.sh

# ignore wandb
wandb/
__pycache__/
error_logs/
job_status.json

fireo/

.ipynb_checkpoints/


sdvenv/